adminUser: admin
adminPassword: admin # don't use in production (1st login to web ui will ask for the password change)
service:
  targetPort: 3000
  port: 3000
  type: LoadBalancer
sidecar:
  dashboards:
    enabled: true
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus-server:9090
      access: proxy
      isDefault: true
    - name: Prometheus-cluster1
      type: prometheus
      # For Docker/K8s-in-Docker (k3d/kind), use host.docker.internal to reach the host's exposed port
      url: http://172.17.0.1:9090
      access: proxy
      isDefault: false
    - name: Prometheus-cluster2
      type: prometheus
      # For Docker/K8s-in-Docker (k3d/kind), use host.docker.internal to reach the host's exposed port
      url: http://172.17.0.1:9091
      access: proxy
      isDefault: false
dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: 'default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: false
      editable: true
      options:
        path: /var/lib/grafana/dashboards
dashboards:
  default:
    k8s-node-exporter-full:
      # Node Exporter Full https://grafana.com/grafana/dashboards/1860
      url: https://grafana.com/api/dashboards/1860/revisions/23/download
rbac:
  pspEnabled: false
testFramework:
  enabled: false
