apiVersion: k8gb.absa.oss/v1beta1
kind: Gslb
metadata:
  name: failover-ingress
  namespace: test-gslb
spec:
  ingress:
    ingressClassName: nginx
    rules:
      - host: failover.cloud.example.com
        http:
          paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend-podinfo # Gslb should reflect Healthy status and create associated DNS records
                port:
                  name: http
  strategy:
    type: failover
    primaryGeoTag: eu
