annotations:
    categories: Networking
    certified: "false"
    createdAt: "2021-09-24 12:00:00"
    description: A cloud native Kubernetes Global Balancer
    namespace: placeholder
    operatorframework.io/suggested-namespace: k8gb
    operators.operatorframework.io/builder: operator-sdk-v1.12.0+git
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v2
    repository: https://github.com/k8gb/k8gb
    support: cncf-k8gb-maintainers@lists.cncf.io
