apiVersion: v1alpha1
kind: ClusterServiceVersion
metadata:
  namespace: placeholder
spec:
  maturity: alpha
  minKubeVersion: 1.19.0
  provider:
    name: k8gb.io
    url: https://github.com/k8gb-io/k8gb
  description: |
    **A cloud native Kubernetes Global Balancer**

    A Global Service Load Balancing solution with a focus on having cloud native qualities and work natively in a Kubernetes context.

    Key Differentiators:
     - Load balancing is based on timeproof DNS protocol which is perfect for global scope and extremely reliable
     - No dedicated management cluster and no single point of failure
     - Kubernetes native application health checks utilizing status of Liveness and Readiness probes for load balancing decisions
     - Configuration with a single Kubernetes CRD of `Gslb` kind

    Operator needs to be configured by setting couple of environment variables. This can be done by modifying
    the subscription yaml in the web ui or via kubectl. Here is an example of changing the `EDGE_DNS_ZONE`:

    ```yaml
    kind: Subscription
      ...
    spec:
      ...
      config:
        env:
        - name: CLUSTER_GEO_TAG
          value: us
        - name: EDGE_DNS_ZONE
          value: mycloud.example.com
          ...
     ```
     For more deployment variables see [helm code](https://github.com/k8gb-io/k8gb/blob/v0.8.3/chart/k8gb/templates/operator.yaml#L53:L68).

     For more information see [k8gb.io](https://k8gb.io).
  installModes:
    - supported: false
      type: OwnNamespace
    - supported: false
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: true
      type: AllNamespaces

