---
---

$header-bg-color: #b60124;
$header-bg-color-secondary: #ee6363;
$section-headings-color: #b60124;
$code-bg-color: #282a36;
$code-text-color: #d8d8d8;
$k8gb-logo-width: 150px;
$k8gb-logo-height: 200px;
$cncf-sandbox-logo-height: 80px;
$media-max-width: 42em;

@import "jekyll-theme-cayman";

.highlight .nt {
    color: #1aaa2e;
}

.highlight .o {
    color: #adb11b;
}

.header-url {
    color: #fff;
}

a.header-url:hover {
    text-decoration: none;
}

.k8gb-logo {
    width: $k8gb-logo-width;
    height: $k8gb-logo-height;
    margin: 0 auto;
}

@media screen and (max-width: $media-max-width) {
    .k8gb-logo {
        width: $k8gb-logo-width / 2;
        height: $k8gb-logo-height / 2;
    }
}

.site-footer {
    text-align: center;
}

.cncf-credits {
    display: block;
}

.cncf-sandbox-logo {
    height: $cncf-sandbox-logo-height;
}

@media screen and (max-width: $media-max-width) {
    .cncf-sandbox-logo {
        height: $cncf-sandbox-logo-height / 1.5;
    }
}

.disable-logo {
    display: none;
}

.anchor-heading {
    visibility: hidden;
}

.anchor-heading:hover,
h1:hover > .anchor-heading,
h2:hover > .anchor-heading,
h3:hover > .anchor-heading,
h4:hover > .anchor-heading,
h5:hover > .anchor-heading,
h6:hover > .anchor-heading {
    visibility: visible;
}
