<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#b91d47">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="/assets/images/browserconfig.xml">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="/" class="header-url"><img class="k8gb-logo" src="/docs/images/k8gb-logo-vertical.svg"/></a></h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="/docs/" class="btn">Concepts</a>
      <a href="/docs/components.html" class="btn">Architecture</a>
      <a href="/#installation-and-configuration-tutorials" class="btn">Tutorials</a>
      <a href="/CHANGELOG.html" class="btn">Changelog</a>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      <br>
      <iframe src="https://ghbtns.com/github-btn.html?user=k8gb-io&repo=k8gb&type=star&count=true&size=large" frameborder="0" scrolling="0" width="140" height="30" title="GitHub"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=k8gb-io&repo=k8gb&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="140" height="30" title="GitHub"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=k8gb-io&repo=k8gb&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="140" height="30" title="GitHub"></iframe>
    </header>

    <main id="content" class="main-content" role="main">
      {% include anchor_headings.html html=content anchorBody="§" anchorClass="heading-anchor" anchorAttrs="aria-labelledby=\"%html_id%\"" headerAttrs="class=heading" %}

      <footer class="site-footer">
        <a href="https://www.cncf.io" target="_blank">
          <img class="cncf-sandbox-logo"
            src="https://raw.githubusercontent.com/cncf/artwork/master/other/cncf/horizontal/color/cncf-color.svg"
            alt="Cloud Native Computing Foundation">
        </a>
        <div class="cncf-credits">k8gb is a
          <a href="https://www.cncf.io" target="_blank">Cloud Native Computing Foundation
          </a>
          sandbox project.
        </div>
      </footer>
    </main>
  </body>
</html>
