<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
    <script src="/assets/js/copy-clipboard.js"></script>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#b91d47">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="/assets/images/browserconfig.xml">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="/" class="header-url"><img class="k8gb-logo" src="/docs/images/k8gb-logo-vertical.svg"/></a></h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="/docs/" class="btn">Concepts</a>
      <a href="/docs/components.html" class="btn">Architecture</a>
      <a href="/#installation-and-configuration-tutorials" class="btn">Tutorials</a>
      <a href="/CHANGELOG.html" class="btn">Changelog</a>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      <br>
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/k8gb-io/k8gb"
	  data-color-scheme="no-preference: light; light: dark; dark:dark_high_contrast;" data-icon="octicon-star" data-size="large"
      data-show-count="true" aria-label="Star k8gb-io/k8gb on GitHub">Star Project</a>
    </header>

    <main id="content" class="main-content" role="main">
      {% include anchor_headings.html html=content anchorClass="heading-anchor fa fa-link" anchorAttrs="aria-labelledby=\"%html_id%\"" headerAttrs="class=heading" %}

      <footer class="site-footer">
        <a href="https://www.cncf.io" target="_blank">
          <img class="cncf-sandbox-logo"
            src="https://raw.githubusercontent.com/cncf/artwork/master/other/cncf/horizontal/color/cncf-color.svg"
            alt="Cloud Native Computing Foundation">
        </a>
        <div class="cncf-credits">k8gb is a
          <a href="https://www.cncf.io" target="_blank">Cloud Native Computing Foundation
          </a>
          sandbox project.
        </div>
        <div>
          <br>
          Copyright 2022 The k8gb Contributors. All rights reserved.
          <br>
          <br>
          The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage/"> Trademark Usage</a> page.
        </div>
      </footer>
    </main>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
