kind: ConfigMap
metadata:
  labels:
{{ include "chart.labels" . | indent 4  }}
  name: {{ .Release.Name }}-coredns
apiVersion: v1
data:
  Corefile: |-
    {{ .Values.k8gb.dnsZone }}:53 {
        errors
        health
        ready
        loadbalance round_robin
        prometheus 0.0.0.0:9153
        forward . /etc/resolv.conf
        k8s_crd {
            resources DNSEndpoint
            filter k8gb.absa.oss/dnstype=local
            negttl {{ .Values.k8gb.dnsZoneNegTTL }}
        }
    }
