{{- if .Values.k8gb.deployRbac }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: k8gb
  labels:
{{ include "chart.labels" . | indent 4  }}
rules:
- apiGroups:
  - ""
  resources:
  - endpoints
  - services
  verbs:
  - 'get'
  - 'list'
  - 'watch'
- apiGroups:
  - k8gb.absa.oss
  resources:
  - '*'
  - gslbs
  verbs:
  - '*'
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - '*'
- apiGroups:
  - externaldns.k8s.io
  resources:
  - dnsendpoints
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - 'list'
{{- if .Values.openshift.enabled }}
- apiGroups:
  - route.openshift.io
  resources:
  - routes/custom-host
  verbs:
  - create
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/finalizers
  verbs:
  - update
{{- end }}
{{- if .Values.istio.enabled }}
- apiGroups:
  - networking.istio.io
  resources:
  - virtualservices
  - gateways
  verbs:
  - 'get'
  - 'list'
  - 'watch'
{{- end }}
{{- end }}
