name: Golang lint, golic, gokart and test
on:
  push:
    paths-ignore:
      - '**.md'
      - '**.svg'
      - '**.drawio'
      - '.spelling'
jobs:
  go-inspect:
    name: Inspect packages
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      # see: https://golangci-lint.run/usage/configuration/#config-file
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.32
      - name: golic
        run: |
          go install github.com/AbsaOSS/golic@v0.5.0
          golic inject --dry -x -t apache2
      - name: gokart
        run: |
          go install github.com/praetorian-inc/gokart@v0.2.0
          gokart scan --globalsTainted
      - name: go test
        run: go test ./...
