name: Offline Changelog

on:
  release:
    types:
      - published

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  chanagelog-pr:
    permissions:
      contents: write  # for peter-evans/create-pull-request to create branch
      pull-requests: write  # for peter-evans/create-pull-request to create a PR
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: heinrichreimer/github-changelog-generator-action@e60b5a2bd9fcd88dadf6345ff8327863fb8b490f # v2.4
        with:
          token: ${{ secrets.CR_TOKEN }}
          project: k8gb
          output: CHANGELOG-latest.md
          pullRequests: true
          author: true
          issues: true
          issuesWoLabels: true
          prWoLabels: true
          onlyLastTag: true
          compareLink: true
          filterByMilestone: true
          unreleased: false
      - name: Prepend the latest changes to CHANGELOG.md
        run: |
          mv CHANGELOG.md CHANGELOG-old.md
          cat CHANGELOG-latest.md | sed -e'$d' > CHANGELOG.md
          cat CHANGELOG-old.md | sed -e'1,2d' >> CHANGELOG.md
          rm CHANGELOG-old.md CHANGELOG-latest.md
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          title: "Update Offline Changelog"
          branch: offline_changelog
          delete-branch: true
          base: master
          signoff: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Send http get to doc.crds.dev to index a new version
        run: |
          curl -sL https://doc.crds.dev/github.com/k8gb-io/k8gb@${{ github.event.release.tag_name }} | grep -A2 'class="container"'
