name: Offline Changelog

on:
  release:
    types:
      - published

jobs:
  chanagelog-pr:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: heinrichreimer/github-changelog-generator-action@v2.3
        with:
          token: ${{ secrets.CR_TOKEN }}
          project: k8gb
          output: CHANGELOG-latest.md
          pullRequests: true
          author: true
          issues: true
          issuesWoLabels: true
          prWoLabels: true
          onlyLastTag: true
          compareLink: true
          filterByMilestone: true
          unreleased: false
      - name: Prepend the latest changes to CHANGELOG.md
        run: |
          mv CHANGELOG.md CHANGELOG-old.md
          cat CHANGELOG-latest.md | sed -e'$d' > CHANGELOG.md
          cat CHANGELOG-old.md | sed -e'1,2d' >> CHANGELOG.md
          rm CHANGELOG-old.md CHANGELOG-latest.md
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          title: "Update Offline Changelog"
          branch: offline_changelog
          delete-branch: true
          base: master
          signoff: true
          token: ${{ secrets.GITHUB_TOKEN }}
