name: curldemo

on:
  push:
    branches:
      - master
    paths:
      - 'deploy/test-apps/curldemo/**'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  curldemo:
    runs-on: ubuntu-22.04
    env:
      DOCKER_CLI_EXPERIMENTAL: "enabled"
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4f3f445f343c08c93d7771433e8dee4267e05b9
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@b80ff79f1755d06ba70441c368a6fe801f5f3a62
        with:
          fetch-depth: 1
      - name: Login to Dockerhub
        uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@ef6cba335306ace1da064b44f9f739dec9be9fa0
        with:
          context: ./deploy/test-apps/curldemo/
          file: ./deploy/test-apps/curldemo/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USER }}/k8gb-demo-curl:latest

