name: curldemo

on:
  push:
    branches:
      - master
    paths:
      - 'deploy/test-apps/curldemo/**'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  curldemo:
    runs-on: ubuntu-24.04
    env:
      DOCKER_CLI_EXPERIMENTAL: "enabled"
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
      - name: Login to Dockerhub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: ./deploy/test-apps/curldemo/
          file: ./deploy/test-apps/curldemo/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USER }}/k8gb-demo-curl:latest
