name: curldemo

on:
  push:
    branches:
      - master
    paths:
      - 'deploy/test-apps/curldemo/**'

jobs:
  curldemo:
    runs-on: ubuntu-20.04
    env:
      DOCKER_CLI_EXPERIMENTAL: "enabled"
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./deploy/test-apps/curldemo/
          file: ./deploy/test-apps/curldemo/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USER }}/k8gb-demo-curl:latest

