name: Github Pages

on:
  push:
    branches:
      - master
    paths:
      - '**.md'
      - 'docs/**'
permissions:
  contents: read

jobs:
  publish:
    permissions:
      contents: write
    runs-on: ubuntu-20.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5d5d34225d930d298d52ae60999ca9b617dd2e3a
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
        with:
          fetch-depth: 0
      - name: Copy new docs to gh-pages
        run: |
          git checkout gh-pages
          git checkout ${GITHUB_REF##*/} ADOPTERS.md
          git checkout ${GITHUB_REF##*/} README.md
          git checkout ${GITHUB_REF##*/} CONTRIBUTING.md
          git checkout ${GITHUB_REF##*/} CHANGELOG.md
          git checkout ${GITHUB_REF##*/} docs
      - name: Push to gh-pages
        uses: EndBug/add-and-commit@4200808251cfc8e2dc0b04b1265a1ae2277ba9c0
        with:
          author_name: ${{ github.actor }}
          author_email: ${{ github.actor }}@users.noreply.github.com
          message: "Documentation sync from master"
          branch: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
