name: Helm Publish

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release tag to publish (e.g., v0.16.0)'
        required: true
        type: string
permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          ref: ${{ inputs.tag || github.ref }}
      - uses: dave-mcconnell/helm-gh-pages-microservices@8478af5f0fd712cc0fb59f2c99e0688f3f591287
        with:
          access-token: ${{ secrets.CR_TOKEN }}
          source-charts-folder: 'chart'
          destination-repo: k8gb-io/k8gb
          destination-branch: gh-pages

      - name: Create k3s cluster
        uses: AbsaOSS/k3d-action@4e8b3239042be1dc0aed6c5eb80c13b18200fc79
        with:
          cluster-name: "test-gslb1"
          args: -c k3d/test-gslb1.yaml
      - name: Smoke test helm installation
        run: |
          helm repo add k8gb https://k8gb.io/
          for i in $(seq 16)
          do
            helm repo update
            helm -n k8gb upgrade -i k8gb k8gb/k8gb --wait --create-namespace --version=$(make version) && exit 0
            _sec=$(echo "1.5^$i" | bc)
            echo "Waiting ${_sec} seconds.."
            sleep ${_sec}
          done
      - name: Invoke workflow for OLM (community-operators)
        if: always()
        continue-on-error: true
        uses: benc-uk/workflow-dispatch@e2e5e9a103e331dad343f381a29e654aea3cf8fc
        with:
          workflow: olm_pr.yaml
          token: ${{ secrets.CR_TOKEN }}
          inputs: '{ "bundleVersion": "master" }' # during the release 'master' is what we want here
      - name: Invoke workflow for OLM (community-operators-prod)
        if: always()
        continue-on-error: true
        uses: benc-uk/workflow-dispatch@e2e5e9a103e331dad343f381a29e654aea3cf8fc
        with:
          workflow: olm_pr.yaml
          token: ${{ secrets.CR_TOKEN }}
          inputs: |
            {
              "bundleVersion": "master",
              "downstreamRepo": "k8gb-io/community-operators-prod",
              "upstreamRepo": "redhat-openshift-ecosystem/community-operators-prod"
            }