name: Helm Publish

on:
  release:
    types:
      - published
permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@394d78e5b40cc35c170eb909b1f81551f37feb05
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@8530928916aaef40f59e6f221989ccb31f5759e7
        with:
          fetch-depth: 0
      - uses: dave-mcconnell/helm-gh-pages-microservices@8478af5f0fd712cc0fb59f2c99e0688f3f591287
        with:
          access-token: ${{ secrets.CR_TOKEN }}
          source-charts-folder: 'chart'
          destination-repo: k8gb-io/k8gb
          destination-branch: gh-pages
      - name: Create k3s cluster
        uses: AbsaOSS/k3d-action@4e8b3239042be1dc0aed6c5eb80c13b18200fc79
        with:
          cluster-name: "test-gslb1"
          args: -c k3d/test-gslb1.yaml
      - name: Smoke test helm installation
        run: |
          helm repo add k8gb https://k8gb.io/
          helm repo update
          helm -n k8gb upgrade -i k8gb k8gb/k8gb --wait --create-namespace --version=$(make version)
      - name: Invoke workflow for OLM (community-operators)
        uses: benc-uk/workflow-dispatch@798e70c97009500150087d30d9f11c5444830385
        with:
          workflow: OLM bundle and PR
          token: ${{ secrets.CR_TOKEN }}
          inputs: '{ "bundleVersion": "master" }' # during the release 'master' is what we want here
      - name: Invoke workflow for OLM
        uses: benc-uk/workflow-dispatch@798e70c97009500150087d30d9f11c5444830385
        with:
          workflow: OLM bundle and PR (community-operators-prod)
          token: ${{ secrets.CR_TOKEN }}
          inputs: |
            {
              "bundleVersion": "master",
              "downstreamRepo": "k8gb-io/community-operators-prod",
              "upstreamRepo": "redhat-openshift-ecosystem/community-operators-prod"
            }
