name: Terrascan

on:
  push:
    paths:
     - 'chart/k8gb/**'
  pull_request:
    branches:
      - master
    paths:
     - 'chart/k8gb/**'
permissions:
  contents: read
  security-events: write # To upload sarif file

jobs:
  terrascan:
    runs-on: ubuntu-22.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f4f3f445f343c08c93d7771433e8dee4267e05b9
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Checkout repository
      uses: actions/checkout@b80ff79f1755d06ba70441c368a6fe801f5f3a62
    - name: Run Terrascan
      id: terrascan
      uses: accurics/terrascan-action@a4b0f7ec5fb3c4c66b8e76d824d958002f6ce12c
      with:
        iac_type: helm
        iac_version: v3
        only_warn: false
        verbose: true
        sarif_upload: true
        iac_dir: chart/k8gb
    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@8f1a6fed33af5212fab8a999d004627ae8901d1b
      with:
        sarif_file: terrascan.sarif
