name: Upgrade Testing

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.svg'
      - '**.drawio'
      - '.spelling'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '**.svg'
      - '**.drawio'
      - '.spelling'
permissions:
  contents: read

concurrency: terratest-${{ github.head_ref || github.run_id }}

jobs:
  skip-check:
    runs-on: ubuntu-latest
    name: Skip the job?
    outputs:
          should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@394d78e5b40cc35c170eb909b1f81551f37feb05
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - id: skip_check
      uses: fkirc/skip-duplicate-actions@c925fb183c1a0d7208640cd79f149e523278ac9c
      with:
        skip_after_successful_duplicate: 'true'
        do_not_skip: '["workflow_dispatch", "schedule"]'

  upgrade-testing:
    runs-on: ubuntu-22.04
    needs: skip-check
    if: ${{ needs.skip-check.outputs.should_skip != 'true' }}
    steps:
      - uses: actions/checkout@72f2cec99f417b1a1c5e2e88945068983b7965f9
        with:
          fetch-depth: 0

      - uses: actions/setup-go@bfd2fb341f32be7281829126376a12a780ca79fc
        with:
          go-version: 1.19.1

      - name: Build artifacts
        uses: goreleaser/goreleaser-action@a10d0e32dce991f86e53faa7b4f269dedb82632f
        with:
          version: v1.9.2
          args: release --rm-dist --skip-publish --skip-validate --snapshot --skip-sbom --skip-sign
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create edgeDNS k3s Cluster
        uses: AbsaOSS/k3d-action@4e8b3239042be1dc0aed6c5eb80c13b18200fc79
        with:
          cluster-name: "edgedns"
          args: -c k3d/edge-dns.yaml

      - name: Create 1st k3s Cluster
        uses: AbsaOSS/k3d-action@4e8b3239042be1dc0aed6c5eb80c13b18200fc79
        with:
          cluster-name: "test-gslb1"
          args: -c k3d/test-gslb1.yaml

      - name: Create 2nd k3s Cluster
        uses: AbsaOSS/k3d-action@4e8b3239042be1dc0aed6c5eb80c13b18200fc79
        with:
          cluster-name: "test-gslb2"
          args: -c k3d/test-gslb2.yaml

      - name: K8GB deploy stable version
        run: make deploy-stable-version list-running-pods

      - name: K8GB deploy test version
        run: make deploy-test-version list-running-pods

      - name: Run Terratest
        run: |
          mkdir -p ${{ github.workspace }}/tmp/terratest
          set -o pipefail
          make terratest | tee ${{ github.workspace }}/tmp/terratest/all.log
          echo "::endgroup::"

      - name: Print debug info
        if: always()
        uses: ./.github/actions/print-debug

      - uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32
        if: always()
        with:
          name: terratest-logs
          path: ${{ github.workspace }}/tmp/terratest
