name: Upgrade Testing

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '**.svg'
      - '**.drawio'
      - '.spelling'

jobs:
  upgrade-testing:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-go@v2
        with:
          go-version: "1.16.9"

      - name: Build artifacts
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --skip-publish --skip-validate --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create 1st k3s Cluster
        uses: AbsaOSS/k3d-action@v1.5.0
        with:
          cluster-name: "test-gslb1"
          args: -c k3d/test-gslb1.yaml --network upgrade

      - name: Create 2nd k3s Cluster
        uses: AbsaOSS/k3d-action@v1.5.0
        with:
          cluster-name: "test-gslb2"
          args: -c k3d/test-gslb2.yaml --network upgrade

      - name: K8GB deploy stable version
        run: make deploy-stable-version

      - name: K8GB deploy test version
        run: make deploy-test-version

      - name: Terratest
        run: make terratest
