{{- if and .Values.coredns.deployment.enabled .Values.coredns.corefile.enabled}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-coredns
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "chart.labels" . | indent 4  }}
data:
  Corefile: |-
    (k8gbplugins) {
        errors
        health
        {{- if $.Values.coredns.corefile.reload.enabled }}
        reload {{ $.Values.coredns.corefile.reload.interval }} {{ $.Values.coredns.corefile.reload.jitter }}
        {{- end }}
        ready
        prometheus 0.0.0.0:9153
        forward . /etc/resolv.conf
        k8s_crd {
            filter k8gb.absa.oss/dnstype=local
            negttl {{ .dnsZoneNegTTL | default 30 }}
            loadbalance weight
            {{- if .geoDataFilePath }}
            geodatafilepath {{ .geoDataFilePath }}
            {{- end }}
            {{- if .geoDataField }}
            geodatafield {{ .geoDataField }}
            {{- end }}
        }
    }
{{- range .Values.k8gb.dnsZones }}
    {{ .loadBalancedZone }}:5353 {
        import k8gbplugins
{{- if .extraPlugins }}
{{- range .extraPlugins }}
{{ . | nindent 8 }}
{{- end }}
{{- end }}
    }
{{- end }}
{{- with .extraServerBlocks -}}
{{- tpl . $ | nindent 4 }}
{{- end }}
{{- if .Values.k8gb.feature.dynamicZones }}
    import ../dynamic/*.conf
{{- end }}
{{- end }}
---
{{- if .Values.k8gb.feature.dynamicZones }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-dynamic
  namespace: {{ .Release.Namespace }}
data: {}
{{- end }}
