{{- if .Values.coredns.deployment.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-coredns
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "chart.labels" . | indent 4  }}
data:
  Corefile: |-
{{- range .Values.k8gb.dnsZones }}
    {{ .loadBalancedZone }}:5353 {
        errors
        health
{{- if .extraPlugins }}
{{- range .extraPlugins }}
{{ . | nindent 8 }}
{{- end }}
{{- end }}
        ready
        prometheus 0.0.0.0:9153
        forward . /etc/resolv.conf
        k8s_crd {
            filter k8gb.absa.oss/dnstype=local
            negttl {{ .dnsZoneNegTTL | default 30 }}
            loadbalance weight
        }
    }
{{- end }}
    {{- with .extraServerBlocks -}}
    {{- tpl . $ | nindent 4 }}
    {{- end }}
{{- end }}
